:root {

--darkmode:#808080;
--lightmode:#B2BEB5;
--typelight:#808080;
--typedark:#B2BEB5;

}


* {
    background-color: var(--lightmode);
}

.Timer {
    color: var(--typelight);
}



.question-card {
    color: var(--typelight);
	border-radius', '.4rem
}
