:root {

--darkmode:#808080;
--lightmode:#B2BEB5;
--typelight:#808080;
--typedark:#B2BEB5;

}


* {
    background-color: var(--darkmode);
    display: flex;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Timer {
    color: var(--typelight);
}
.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.question-card {
    width: 800px;
    max-width: 80%;
    color: var(--typelight);
    border-radius: 5px;
    padding: 10px;
}